/* General */
* {
	margin: 0;
	padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body, html {
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


body {
    /*#fe7253 x #fcbdb0*/
    background: rgb(57, 56, 56);
}

body .container {
    margin: 0 auto;
    min-width: 400px;
    width: 50%;
    border-radius: 25px;
    padding: 10px;
}

body main {
    background: #ffffff;
}

body main h1 {
    text-align: center;
}

body main ul {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

body main ul li a {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 5px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
}

body #divGoBack button {
    height: 35px;
    font-size: 1rem;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 25px;
    width: 75px;
}

body #divGoBack button:hover {
    background: rgb(175, 175, 175);
}

/* Home, menu */

body#home main ul, body.menu main ul {
    align-items: center;
}

body#home main ul li, body.menu main ul li {
    width: 25%;
    height: 35px;
    background: rgb(57, 56, 56);
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
}

body#home main ul li:hover, body.menu main ul li:hover {
    background: #000000;
}

/* data-presentation */

body.data-presentation #overlay form ul li.date {
    position: relative;
    right: 20px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

#overlay div.container {
    position: relative;
    box-sizing: border-box;
    padding-right: 50px;
    padding-left: 50px;
    background: #ffffff;
    min-width: 300px;
    width: 40%;
}

#overlay form ul li#submit input {
    height: 35px;
    font-size: 1rem;
    background: rgb(57, 56, 56);
    cursor: pointer;
    color: #ffffff;
}
#overlay form ul li#submit input:hover {
    background: #000000;
}

#overlay button#btClose {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 1.1rem;
    background: #ffffff;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: none;
}

body.data-presentation .container {
    min-width: 400px;
    width: 80%;
}

body.data-presentation main ul {
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
}

body.data-presentation table {
    border-collapse: collapse;
}

body.data-presentation li#table {
    width: 100%;
    overflow: auto;
}

body.data-presentation li#table table {
    margin: 0 auto;
}

body.data-presentation table th, body.data-presentation td {
    text-align: left;
    position: relative;
    border: 1px solid #000000;
    padding: 8px 30px 8px 8px;
}

body.data-presentation table tr:nth-child(even) {
    background-color: rgb(57, 56, 56);
    color: white;
}

body.data-presentation table td.tdDel {
    border: none;
    background-color: #ffffff;
    padding: 8px;
}

body.data-presentation table td.tdDel button.delete {
    height: 32px;
    font-size: 1.2rem;
    background: rgb(57, 56, 56);
    cursor: pointer;
    border-radius: 10px;
    width: 32px;
    color: white;
}

body.data-presentation table td.tdDel button.delete:hover {
    background: #000000;
}

body.data-presentation table td button.edit {
    position: absolute;
    right: 2px;
    top: 30%;
    height: 26px;
    font-size: 1rem;
    background: rgb(57, 56, 56);
    cursor: pointer;
    border-radius: 10px;
    width: 26px;
    color: white;
}

body.data-presentation table td button.edit:hover {
    background: #000000;
}

body.data-presentation li#options {
    border-radius: 15px;
    padding: 12px;
}

body.data-presentation li#options button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    padding: 8px;
}

body.data-presentation li#options button i {
    margin-right: 2px;
}

body.data-presentation li#options button#btAdd {
    background-color: #a3d62e;
}

body.data-presentation li#options button#btAdd:hover {
    background-color: #93c129;
}

body.data-presentation #overlay div.container {
    min-width: 300px;
    width: 40%;
}

body.data-presentation #overlay form ul li input {
    border-radius: 15px;
    height: 22px;
    padding: 0 8px;
}

body.data-presentation #overlay form ul li#submit input {
    height: 35px;
}

